.question-title-show {
  /* position: absolute;
  top: 90px;
  left: 270px; */

}

.question-title-span {
  /* position: absolute;
  top: 90px;
  left: 270px; */

  font-size:
    1.6875em; /* 27px */


  border-bottom: solid 0.0625em /* 1px */ rgb(228, 230, 232);
  padding-bottom: 0.875em; /* 14px */
}

.question-show-answers-box {
  padding: 0.5625em 2.5em 0em 0em; /* 9px 40px 0px 0px */
  margin-bottom: 0.3125em; /* 5px */
  word-wrap: break-word;
  font-size: 0.9375em; /* 15px */
  line-height: 1.3;

}

.question-outer-container {
  position: absolute;
  top: 6.625em; /* 90px */
  left: 12.875em; /* 270px */
  display: flex;

}

.answer-div-container {
  font-size: 0.9375em; /* 15px */
}

.question-body-span {
  width: 100%;
  padding-top: 1.25em; /* 20px */
  font-size:
    0.9375em; /* 15px */
}

.question-body > a {
  color: rgb(0, 119, 204);;
  text-decoration: none;


}

.question-author-div {
  background-color: #E1ECF4;
  /* width: 200px; */
  text-align: right;
  border-radius: 0.1875em; /* 3px */
  margin-top: 1.25em; /* 20px */

}

.question-author-placeholder {
  width: 90%;
}

.question-author-outer-body {
  display: flex;
}

.question-author-inner-div {
  padding: 1.25em; /* 20px */
}

.question-author-new-contributor {
  background-color: #cee0ed;
  border-radius: 0.1875em; /* 3px */
  padding: 0.4375em; /* 7px */
  font-size: 0.8125em; /* 13px */
  text-align: left;

}

.new-contributor-text {
  line-height:
    1.0292em; /* 16.4667px */

}

.answer-div-container {
  font-size: 0.9375em; /* 15px */
  border-top: solid 0.0625em /* 1px */ rgb(228, 230, 232);
  border-bottom: solid 0.0625em /* 1px */ rgb(228, 230, 232);
  padding: 2.3125em; /* 37px */
}

.answer-body-author {
  text-align: right;
  padding: 1.875em; /* 30px */
  font-size:
    0.8125em; /* 13px */
  color: #07C;
}

.answer-timestamp-div {
  text-align: right;
}

.answer-timestamp-div {
  color: #6a737c;
}

.answer-comments-body {
  font-size: 0.8125em; /* 13px */

}


.question-show-comment-body {

  
  /* border-bottom: solid 1px rgb(228, 230, 232); */
  
  
}

.question-show-comment-body-text{

  border-top: solid 0.0625em /* 1px */ rgb(228, 230, 232);
  padding-left: 1.5625em; /* 25px */
  padding-top: 0.625em; /* 10px */
  padding-bottom: 0.625em; /* 10px */


}

.question-show-comment-author-usernamme {
  color: #38A1CE;
}

.question-show-comment-author-usernamme-timestamp {
  color: #9199a1;
}