* {
  font-family:
    Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.holder {
  min-height: 100%;
  position: relative;
}

.main-content {
  /* padding-bottom: 20%; */
}



.auth-box {
  /* position: absolute; */
  /* top: 30%; */
  /* left: 44%; */
  margin-top: 70%;
  /* margin-left: -50px; */
  width: 200px;
  height: 220px;
  border: solid rgb(36, 39, 41) 0px;
  border-radius: 7px;
  box-sizing: border-box;
  /* border-style: none; */
  /* border-width: 1px; */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 20px 48px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
  /* max-width: 24.31rem; */
  /* max-width: 316px; */
  width: 283.2px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  /* vertical-align: baseline; */
  padding: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;



}

.auth-box-container {
  /* position: absolute;
  left: 44%;
  margin-top: -50px;
  margin-left: -50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* position: relative; */
  /* border: 1px solid black; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* top: -200%; */


}


.signup-link {
  /* position: relative;
  top: 430px;
  left: 210%;
  position: relative;
  top: 450px; */
  text-align: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 45%;
  margin-left: 24px;



  /* left: 1.4%; */
}

.auth-box input[type=text],
.auth-box input[type=password] {
  border: 0.5px solid rgb(36, 39, 41);
  border-radius: 4px;
  width: 200px;
  font-size: 16px;
  padding-bottom: 5px;
}


.input-box {


  padding-bottom:
    7.8px;
  padding-left:
    9.1px;
  padding-right:
    9.1px;
  padding-top:
    7.8px;


}

.input-outer-box {
  padding: 2px;
}

.signup-or-login-text {
  text-transform: capitalize;

}

header {
  border-top:
    solid rgb(244, 128, 36) 3px;
  box-shadow: rgba(12, 13, 14, 0.1) 0px 1px 0px 0px,
    rgba(59, 64, 69, 0.1) 0px 1px 6px 0px;
  height: 50px;
  left: 0px;
  top: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
  background-color:
    rgb(250, 250, 251);
  box-shadow:
    rgba(12, 13, 14, 0.1) 0px 1px 0px 0px, rgba(59, 64, 69, 0.1) 0px 1px 6px 0px;
  transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
  transition-property: box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0s;
}


.big-blue-button-session {
  background-color:
    rgb(0, 149, 255);
  border: solid 1px rgb(0, 119, 204);
  border-radius: 3px;

  box-shadow:
    rgba(102, 191, 255, 0.75) 0px 1px 0px 0px inset, rgba(0, 149, 255, 0) 0px 0px 0px 0px;
  color: white;
  font-weight: 800;
  line-height:
    15px;
  margin-bottom:
    6px;
  align-items:
    flex-start;
  /* width:
    235.188px; */
  padding-bottom:
    10.4px;
  padding-left:
    10.4px;
  padding-right:
    10.4px;
  padding-top:
    10.4px;
  font-family:
    Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: capitalize;

  font-size:
    13px;
  width: 223px;
  margin-top: 10px;
  margin-bottom: 10px;

}

footer {
  width: 100%;
  /* height: 272px; */
  /* position: fixed; */
  /* margin-left: -8px;
  margin-right: px; */
  bottom: 0px;
  left: 0px;
  border-top: 1px solid rgb(106, 115, 124);
  background-color: rgb(36, 39, 41);
  color: white;
  font-family:
    Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:
    11px;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  margin-bottom: -800%;
  clear: both;

}

/* .logo-image {
  width: 150px;
  height: 30px;
} */

.emoji-placeholder {
  width: 150px;
  height: 30px;
  font-size: 45px;

}

.emoji-placeholder a {
  margin-left: 30px;

  text-decoration: none;
}

li {
  list-style: none;

}

.first_column {
  color:
    rgb(187, 192, 196);
  margin-left: 20%;
  margin-top: 31px;
  font-size: 13px;
  list-style: none;
  color:
    rgb(132, 141, 149);
  font-weight: 400;

}

.first_column li {
  padding: 7px;
}

.second_column {
  color:
    rgb(187, 192, 196);
  margin-left: 5%;
  margin-top: 31px;
  font-size: 13px;
  list-style: none;
  color:
    rgb(132, 141, 149);
  font-weight: 400;

}

.second_column li {
  padding: 7px;
}





.top-level-list {
  padding-bottom: 21px;
  color:
    rgb(187, 192, 196);
  font-weight: 700;

}

.logo-image {
  /* width: 43.25px;
  width: 50px;
  position: fixed;
  left: 20%;s
  bottom: 200px; */
  position: relative;
  right: -22%;
  margin-top: 2.27%;
}

.logo-image-top {
  height: 43.25px;
  width: 50px;
  margin-top: 2px;
  /* position: fixed;
  left: 20%;
  bottom: 190px; */
}

.errors {
  /* position: absolute;
  top: 140px;
  left: 40%; */
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: -4%;
  margin-bottom: 0;
  position: absolute;
  color: red;
  white-space: nowrap;
  font-weight: 550;



}

.password-box-label {
  padding-top: 10px;
}

.password-box-label,
.username-box-label {
  text-align: left;
  margin-left: 18px;
}

.login-box-below {
  width: 242px;
  height: 36px;
  position: relative;
  top: 200px;
  text-align: center;
  justify-content: center;
  left: 80px;

}


.question-index-list-container {
  /* position: fixed;
  
  left: 40%;
  display: flex;
  align-content: center;
  justify-content: center; */
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: -15%;
  width: 70%;


}

/* .question-index-list {

} */


.question-item {
  padding: 12px;
  /* border-color:
    rgb(36, 39, 41);
  border-width: 1px;
  border-style: solid;
  border-right: none;
  border-bottom: none;
  border-left: none; */

  color: rgb(0, 119, 204);
  min-width: 120%;


}

.question-username {
  text-align: right;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  padding-top: 90px;
  font-size: 30px;
  border-right: solid #D6D9DC 1px;
  margin-left: -1.3%;
  display: flex;
  /* justify-content: flex-start; */
  z-index: -1;
  flex-direction: column;
  box-shadow: rgba(12, 13, 14, 0.05) 0px 0px 0px 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /* min-height: 900%; */
  padding-bottom: 33%;
}

.sidebar-container-item {

  color:
    rgb(83, 90, 96);
  font-size: 13px;
  font-weight: 400;
  font-family:
    Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding-bottom:
    4px;
  padding-left:
    8px;
  padding-right:
    46px;
  padding-top:
    11px;

}

.sidebar-container-public {
  font-size: 11px;
  border-bottom-color:
    rgb(12, 13, 14);
  color: rgb(106, 115, 124);
  line-height:
    13.9333px;
}

.sidebar-container-globe {
  position: relative;
  left: 1px;
  background-color: rgba(12, 13, 14, 0.05);
  border: none;
  border-right: solid 4px rgb(244, 128, 36);
  color: rgb(12, 13, 14);
  font-weight: 700;
  line-height: 23.4px;
}

.sidebar-container-home,
.sidebar-container-public {
  margin-left: -22px;
}

.sidebar-container-globe {
  margin-left: -16px;
}

.question-form-container-div {
  margin-top: 70px;
  margin-bottom: 90px;
}

.table1 {
  border-collapse: collapse;
  border-spacing: 0;
}

.table1 td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  /* border-style: solid;
  border-width: 1px; */
  overflow: hidden;
  word-break: normal;
  /* border-color: black; */
}

.table1 th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  /* border-style: solid; */
  /* border-width: 1px; */
  overflow: hidden;
  word-break: normal;
  /* border-color: black; */
}


.table1 tr {
  border-bottom: 1px solid #EFF0F1;
}

.table1 {
  border-top: 1px solid #D6D9DC
}

.table1 .table1-item {
  background-color: #ffffff;
  border-color: #ffffff;
  text-align: left;
  vertical-align: top
}

.vote_counter_number,
.answer_counter_number,
.view_counter_number {
  font-size: 17px;
  font-weight: 300;
  color: #6a737c;
  margin-bottom: 4px;

  text-align: center;
  justify-content: center;
}

.votes_label,
.answer_label,
.viewes_label {
  text-align: center;
  font-size:
    11px;
  font-family:
    Arial, "Helvetica Neue", Helvetica, sans-serif;
  color:
    rgb(132, 141, 149);
  padding: 6px;
  margin-right: 3px;

}



/* .table1-tr-inner-class {
  padding-bottom:
    12px;
  padding-left:
    8px;
  padding-right:
    8px;
  padding-top:
    12px;

} */

.table1-tr-class {
  height: 100px;

}

.question-username {
  margin-top: 40px;
  text-align: right;
  font-size:
    12px;
  font-weight: 400;
  line-height:
    15.2px;
  color: rgb(0, 119, 204);
}

.asked-time-ago-span {
  color:
    rgb(145, 153, 161);
  font-size:
    12px;
  font-weight: 400;
  line-height:
    15.2px;

}

.top-questions-span {
  /* position: relative;
  top: 160px;
  left: -210px; */
  font-size:
    27px;
  font-family:
    Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight:
    400;
  padding-bottom: 20px;
  color:
    rgb(36, 39, 41);

}

.right-sidebar-container {
   padding-top: 240px;
   /* padding-left: 900px; */
  color:
    rgb(36, 39, 41);
  font-size: 18px;
  width: 30%;
}

.right-sidebar-table-tr-class {
  color:
    rgb(0, 119, 204);
  font-size:
    12px;

  height: 30px;
}

.top-questions-tr {
  border-top: 2px white solid;
}

.top-questions-td {
  /* width: 200px; */
  text-align: left;
  /* margin-left: 2000px; */

}

.top-questions-span {
  margin-left: 12px;
}






.blue-inner-container-div {
  /* background-color: blue; */
  margin-left: 400px;
}

.blue-outer-container-div {
  flex-grow: 1;
  height: 120%;
  background: linear-gradient(to right, #126CFA 0%, #108AEC 100%);
  margin-left: 156px;


}

.question-index-box {
  /* width: 200px; */
  height: 200px;
  padding-bottom: 100px;
  /* border-top: solid rgb(36, 39, 41) 1px; */
  /* background-color: green; */
}

.the-blue-box {
  display: flex;
  flex-direction: row;
  color: white;
}

.blue-promo-text {
  color: white;
  width: 300px;
  padding: 40px;
}

.blue-promo-title {
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 12px;
}

.blue-promo-para1,
.blue-promo-para2 {
  margin-bottom: 17px;
}

.personal-header {
  width: 10%;
}

.question-index-list {
  padding-left: 200px;
}

.right-sidebar-container {
  justify-self: flex-start;
  margin-left: 1200px;
}