* {
  font-family:
    Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.holder {
  min-height: 100%;
  position: relative;
}

.main-content {
  /* padding-bottom: 20%; */
}



.auth-box {

  /* position: absolute; */
  /* top: 30%; */
  /* left: 44%; */
  margin-top: 50%;
  /* margin-left: -50px; */
  width: 12.5em; /* 200px */
  height: 13.75em; /* 220px */
  border: solid rgb(36, 39, 41) 0em; /* 0px */
  border-radius: 0.4375em; /* 7px */
  box-sizing: border-box;
  /* border-style: none; */
  /* border-width: 1px; */
  box-shadow: 0 0.625em 1.5625em rgba(0, 0, 0, 0.05), 0 1.25em 3em rgba(0, 0, 0, 0.05), 0 0.0625em 0.25em /* 10px 25px 20px 48px 1px 4px */ rgba(0, 0, 0, 0.1);
  /* max-width: 24.31rem; */
  /* max-width: 316px; */
  width: 17.7em; /* 283.2px */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9375em; /* 15px */
  font-weight: 700;
  line-height: 1.1875em; /* 19px */
  /* vertical-align: baseline; */
  padding: 0.9375em; /* 15px */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: 4.75em; /* 300px */




}

.auth-box-container {
  /* position: absolute;
  left: 44%;
  margin-top: -50px;
  margin-left: -50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* position: relative; */
  /* border: 1px solid black; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* top: -200%; */


}


.signup-link {
  /* position: relative;
  top: 430px;
  left: 210%;
  position: relative;
  top: 450px; */
  text-align: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute; */
  margin-top: 15%;
  margin-left: 4em;
  


  /* left: 1.4%; */
}

.auth-box input[type=text],
.auth-box input[type=password] {
  border:  0.5px solid rgb(36, 39, 41);
  border-radius: 0.25em; /* 4px */
  width: 12.5em; /* 200px */
  font-size: 1em; /* 16px */
  padding-bottom: 0.3125em; /* 5px */
}


.input-box {


  padding-bottom:
    0.4875em; /* 7.8px */
  padding-left:
    0.5687em; /* 9.1px */
  padding-right:
    0.5687em; /* 9.1px */
  padding-top:
    0.4875em; /* 7.8px */


}

.input-outer-box {
  padding: 0.125em; /* 2px */
}

.signup-or-login-text {
  text-transform: capitalize;

}

header {
  border-top:
    solid rgb(244, 128, 36) 0.1875em; /* 3px */
  box-shadow: rgba(12, 13, 14, 0.1) 0em 0.0625em 0em 0em,
    rgba(59, 64, 69, 0.1) 0em 0.0625em 0.375em 0em; /* 0px 1px 0px 0px 0px 1px 6px 0px */
  height: 3.125em; /* 50px */
  left: 0em; /* 0px */
  top: 0em; /* 0px */
  right: 0em; /* 0px */
  margin: 0em; /* 0px */
  padding: 0em; /* 0px */
  position: fixed;
  width: 100%;
  background-color:
    rgb(250, 250, 251);
  box-shadow:
    rgba(12, 13, 14, 0.1) 0em 0.0625em 0em 0em, rgba(59, 64, 69, 0.1) 0em 0.0625em 0.375em 0em; /* 0px 1px 0px 0px 0px 1px 6px 0px */
  transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
  transition-property: box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0s;
}


.big-blue-button-session {
  background-color:
    rgb(0, 149, 255);
  border: solid 0.0625em /* 1px */ rgb(0, 119, 204);
  border-radius: 0.1875em; /* 3px */

  box-shadow:
    rgba(102, 191, 255, 0.75) 0em 0.0625em 0em 0em inset, rgba(0, 149, 255, 0) 0em 0em 0em 0em; /* 0px 1px 0px 0px 0px 0px 0px 0px */
  color: white;
  font-weight: 800;
  line-height:
    0.9375em; /* 15px */
  margin-bottom:
    0.375em; /* 6px */
  align-items:
    flex-start;
  /* width:
    235.188px; */
  padding-bottom:
    0.65em; /* 10.4px */
  padding-left:
    0.65em; /* 10.4px */
  padding-right:
    0.65em; /* 10.4px */
  padding-top:
    0.65em; /* 10.4px */
  font-family:
    Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: capitalize;

  font-size:
    1em; /* 13px */
  width: 13.9375em; /* 223px */
  margin-top: 0.625em; /* 10px */
  margin-bottom: 0.625em; /* 10px */
  cursor: pointer;

}

footer {
  width: 100%;
  /* height: 272px; */
  /* position: fixed; */
  /* margin-left: -8px;
  margin-right: px; */
  bottom: 0em; /* 0px */
  left: 0em; /* 0px */
  border-top: 0.0625em /* 1px */ solid rgb(106, 115, 124);
  background-color: rgb(36, 39, 41);
  color: white;
  font-family:
    Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:
    0.6875em; /* 11px */
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  margin-bottom: -800%;
  clear: both;

}

/* .logo-image {
  width: 150px;
  height: 30px;
} */

.emoji-placeholder {
  
  font-size: 2.8125em; /* 45px */

}

.emoji-placeholder a {
  margin-left: 1.875em; /* 30px */

  text-decoration: none;
}

li {
  list-style: none;

}

.first_column {
  color:
    rgb(187, 192, 196);
  margin-left: 20%;
  margin-top: 1.9375em; /* 31px */
  font-size: 0.8125em; /* 13px */
  list-style: none;
  color:
    rgb(132, 141, 149);
  font-weight: 400;

}

.first_column li {
  padding: 0.4375em; /* 7px */
}

.second_column {
  color:
    rgb(187, 192, 196);
  margin-left: 5%;
  margin-top: 1.9375em; /* 31px */
  font-size: 0.8125em; /* 13px */
  list-style: none;
  color:
    rgb(132, 141, 149);
  font-weight: 400;

}

.second_column li {
  padding: 0.4375em; /* 7px */
}





.top-level-list {
  padding-bottom: 1.3125em; /* 21px */
  color:
    rgb(187, 192, 196);
  font-weight: 700;

}

.logo-image {
  /* width: 43.25px;
  width: 50px;
  position: fixed;
  left: 20%;s
  bottom: 200px; */
  /* position: relative; */
  right: -22%;
  margin-top: 2.27%;
}

.logo-image-top {
  margin-top: 0.125em; /* 2px */
  margin-left: 0.125em;
  /* position: fixed;
  left: 20%;
  bottom: 190px; */
}

.errors {
  /* position: absolute;
  top: 140px;
  left: 40%; */
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: -4%;
  margin-bottom: 0;
  position: absolute;
  color: red;
  white-space: nowrap;
  font-weight: 550;



}

.password-box-label {
  padding-top: 0.625em; /* 10px */
}

.password-box-label,
.username-box-label {
  text-align: left;
  margin-left: 1.125em; /* 18px */
}

.login-box-below {
  width: 15.125em; /* 242px */
  height: 2.25em; /* 36px */
  /* position: relative; */
  top: 12.5em; /* 200px */
  text-align: center;
  justify-content: center;
  left: 5em; /* 80px */

}


.question-index-list-container {
  /* position: fixed;
  
  left: 40%;
  display: flex;
  align-content: center;
  justify-content: center; */
  /* display: flex; */
  /* align-content: center;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
  margin-top: 1.25em; /* 20px */
  margin-bottom: 0.625em; /* 10px */
  /* margin-left: -15%; */
  width: 100%;


}


.question-item {
  padding: 0.75em; /* 12px */
  /* border-color:
    rgb(36, 39, 41);
  border-width: 1px;
  border-style: solid;
  border-right: none;
  border-bottom: none;
  border-left: none; */

  color: rgb(0, 119, 204);
  min-width: 120%;


}

.question-username {
  text-align: right;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  padding-top: 1em; /* 90px */
  font-size: 1.875em; /* 30px */
  border-right: solid #D6D9DC 0.0625em; /* 1px */
  margin-left: -1.3%;
  display: flex;
  /* justify-content: flex-start; */
  z-index: -1;
  flex-direction: column;
  box-shadow: rgba(12, 13, 14, 0.05) 0em 0em 0em 0em; /* 0px 0px 0px 0px */
  padding-bottom: 0em; /* 0px */
  margin-bottom: 0em; /* 0px */
  /* min-height: 900%; */
  padding-bottom: 33%;
}

.sidebar-container-item {

  color:
    rgb(83, 90, 96);
  font-size: 13px;
  font-weight: 400;
  font-family:
    Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding-bottom:
    0.25em; /* 4px */
  padding-left:
    0.5em; /* 8px */
  padding-right:
    2.875em; /* 46px */
  padding-top:
    0.6875em; /* 11px */

}

.sidebar-container-public {
  font-size:  11px;
  border-bottom-color:
    rgb(12, 13, 14);
  color: rgb(106, 115, 124);
  line-height:
    0.8708em; /* 13.9333px */
}

.sidebar-container-globe {
  position: relative;
  left: 0.0625em; /* 1px */
  background-color: rgba(12, 13, 14, 0.05);
  border: none;
  border-right: solid 0.25em /* 4px */ rgb(244, 128, 36);
  color: rgb(12, 13, 14);
  font-weight: 700;
  line-height: 1.4625em; /* 23.4px */
}

.sidebar-container-home,
.sidebar-container-public {
  margin-left: -1.375em; /* -22px */
}

.sidebar-container-globe {
  margin-left: -1em; /* -16px */
}

.question-form-container-div {
  /* margin: auto; */

  /* margin-top: 4.375em; 
  margin-left: 10em;
  margin-bottom: 5.625em;  */
}

.table1 {
  border-collapse: collapse;
  border-spacing: 0;
}

.table1 td {
  font-family: Arial, sans-serif;
  font-size:   14px;
  padding: 0.625em 0.3125em; /* 10px 5px */
  /* border-style: solid;
  border-width: 1px; */
  overflow: hidden;
  word-break: normal;
  /* border-color: black; */
}

.table1 th {
  font-family: Arial, sans-serif;
  font-size:  14px;
  font-weight: normal;
  padding: 0.625em 0.3125em; /* 10px 5px */
  /* border-style: solid; */
  /* border-width: 1px; */
  overflow: hidden;
  word-break: normal;
  /* border-color: black; */
}


.table1 tr {
  border-bottom: 0.0625em /* 1px */ solid #EFF0F1;
}

.table1 {
  /* border-top: 1px solid #D6D9DC */
}

.table1 .table1-item {
  background-color: #ffffff;
  border-color: #ffffff;
  text-align: left;
  vertical-align: top;
  font-size:  14px;
}

.vote_counter_number,
.answer_counter_number,
.view_counter_number {
  font-size: 17px;
  font-weight: 300;
  color: #6a737c;
  margin-bottom: 0.25em; /* 4px */

  text-align: center;
  justify-content: center;
}

.votes_label,
.answer_label,
.viewes_label {
  text-align: center;
  font-size:
    0.6875em; /* 11px */
  font-family:
    Arial, "Helvetica Neue", Helvetica, sans-serif;
  color:
    rgb(132, 141, 149);
  padding: 0.375em; /* 6px */
  margin-right: 0.1875em; /* 3px */

}



/* .table1-tr-inner-class {
  padding-bottom:
    12px;
  padding-left:
    8px;
  padding-right:
    8px;
  padding-top:
    12px;

} */

.table1-tr-class {
  height: 6.25em; /* 100px */

}

.question-username {
  margin-top: 2.5em; /* 40px */
  text-align: right;
  font-size:
    0.75em; /* 12px */
  font-weight: 400;
  line-height:
    0.95em; /* 15.2px */
  color: rgb(0, 119, 204);
}

.asked-time-ago-span {
  color:
    rgb(145, 153, 161);
  /* font-size:
    0.75em;  */
  font-weight: 400;
  line-height:
    0.95em; /* 15.2px */

}

.top-questions-span {
  /* position: relative;
  top: 160px;
  left: -210px; */
  font-size:
    1.6875em; /* 27px */
  font-family:
    Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight:
    400;
  padding-bottom: 1.25em; /* 20px */
  color:
    rgb(36, 39, 41);
    white-space: nowrap;


}

.right-sidebar-container {
   padding-top: 17em; 
   /* padding-left: 900px; */
  color:
    rgb(36, 39, 41);
  font-size: 1.125em; /* 18px */
  /* width: 30%; */
}

.right-sidebar-table-tr-class {
  color:
    rgb(0, 119, 204);
  font-size:
    0.75em; /* 12px */

  height: 1.875em; /* 30px */
}

.top-questions-tr {
  /* border-top: 2px white solid; */
}

.top-questions-td {
  /* width: 200px; */
  text-align: left;
  /* margin-left: 2000px; */

}

.top-questions-span {
  margin-left: 0.75em; /* 12px */
}






.blue-inner-container-div {
  /* background-color: blue; */
  margin-left: 25em; /* 400px */
}

.blue-outer-container-div {
  flex-grow: 1;
  height: 150%;
  background: linear-gradient(to right, #126CFA 0%, #108AEC 100%);
  margin-left: 0em; /* 156px */

}

.question-index-box {
  /* width: 200px; */
  height: 12.5em; /* 200px */
  padding-bottom: 6.25em; /* 100px */
  /* border-top: solid rgb(36, 39, 41) 1px; */
  /* background-color: green; */
}

.the-blue-box {
  display: flex;
  flex-direction: row;
  color: white;
  padding-right: 1.25em; /* 20px */
}

.blue-promo-text {
  color: white;
  width: 18.75em; /* 300px */
  padding: 2.5em; /* 40px */
}

.blue-promo-title {
  font-size: 1.6875em; /* 27px */
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.75em; /* 12px */
}

.blue-promo-para1,
.blue-promo-para2 {
  margin-bottom: 1.0625em; /* 17px */
}

.personal-header {
  width: 10%;
}

.question-index-list {
  /* margin-left: 12.5em;  */
  /* margin-left: 1em; */

}

.right-sidebar-container {
  /* justify-self: flex-start; */
  /* margin-left: 75em; 1200px */

  

}

.ask-question-button {
  background-color: #0095ff;
  border-color: #07c;
  box-shadow: inset 0 0.0625em 0 0 rgba(102,191,255,0.75), 0 0 0 0 /* 1px */ rgba(0,149,255,0);
  color: #FFF;
  padding: .8em;
  border: 0.0625em /* 1px */ solid transparent;
  border-radius: 0.1875em; /* 3px */
  display: inline-flex;
  text-decoration: none;
}

.blue-auth-box-container{
  padding-right: 1.875em; /* 30px */
  padding-top: 1.875em; /* 30px */
}

.answer-form-box {
  height: 6.25em; /* 100px */
  width: 30.5em; /* 600px */
}
.comment-form-box {
  height: 6.25em; /* 100px */
  width: 37.5em; /* 600px */
}


.blue-outer-container-div {
  /* margin-left: .775em;  */
  /* margin-left: -25.6em; */
  width: 148%;

}

.emoji-placeholder-personal {
  margin-top: 0.625em; /* 10px */
}


.demoUser-button-session {
  background-color: green;
  padding: 0.65em;
  border-radius: 0.1875em; /* 3px */
  box-shadow: inset 0 0.0625em 0 0 rgba(88, 209, 159, 0.75), 0 0 0 0 /* 1px */ rgba(0,149,255,0);
  border: none;
  /* margin-left: 1.5em;  */
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 800;
  width: 13.9375em;
  cursor: pointer;


}

.demoUser-button-session:hover {
  background-color: rgb(25, 165, 25);
}

.big-blue-button-session:hover {
  background-color: #007ed9;

}

.blue-big-blue-button-session {
  background-color: rgb(18, 52, 107);
    padding: .9em;
  border-radius: 0.1875em; /* 3px */
  box-shadow: inset 0 0.0625em 0 0 rgba(88, 209, 159, 0.75), 0 0 0 0 /* 1px */ rgba(0,149,255,0);
  border: none;
  margin-left: 3.3em; /* 39px */
  margin-top: 0.25em; /* 4px */
  color: white;
  font-size: 15px;
  cursor: pointer;


}

.blue-big-blue-button-session:hover {
  background-color: #66bfff;    
}

.demoUser-button:hover{
  background-color: limegreen;
}

.ask-question-button:hover {
  background-color: #007ed9;
}

.signup-link-top:hover {
  background-color: #007ed9;
}

.question-form-title {
  height:  26px;
  /* width: 18.75em;  */
}

.question-form-body {
  height: 6.25em; /* 100px */
  /* width: 18.75em;  */
}

textarea {
   resize: none;
   font-size: 1.25em; /* 20px */
}



.submit-comment-button {
  background-color: #108AEC;
      padding: .9em;
  border-radius: 0.1875em; /* 3px */
  box-shadow: inset 0 0.0625em 0 0 rgba(88, 209, 159, 0.75), 0 0 0 0 /* 1px */ rgba(0,149,255,0);
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;

}

.submit-comment-button:hover {
  background-color: #007ed9;
}

.answer-form-button {
    background-color: #0095ff;
    padding: .9em;
    border-radius: 0.1875em; /* 3px */
    box-shadow: inset 0 0.0625em 0 0 rgba(88, 209, 159, 0.75), 0 0 0 0 /* 1px */ rgba(0,149,255,0);
    border: none;
    color: white;
    font-size: 14px;
    margin-top: 0.1em;
    cursor: pointer;

}

.answer-form-button:hover {
  background-color: #007ed9;
}

.blue-big-blue-button-session {
  text-transform: capitalize;
}

.question-form-button {
      background-color: #0095ff;
    padding: .9em;
    border-radius: 0.1875em; /* 3px */
    box-shadow: inset 0 0.0625em 0 0 rgba(88, 209, 159, 0.75), 0 0 0 0 /* 1px */ rgba(0,149,255,0);
    border: none;
    color: white;
    font-size: 0.875em; /* 14px */
    cursor: pointer;
    margin-top: 0.1em;

}

.question-form-button:hover {
  background-color: #007ed9;
}

.comment-form-all {
  display: flex;
  flex-direction: column;
  min-width: 40em;
}
.question-form-all {
  display: flex;
  flex-direction: column;
  min-width: 40em;

}


.question-form-body {
  margin-bottom: 0.1875em; /* 3px */
}

.question-form-title {
  margin-bottom: 0.1875em; /* 3px */
}

.demoUser-button {
  font-size: 15px;
  background-color: rgb(102, 75, 128);
  padding: .9em;
  border-radius: 0.1875em; /* 3px */
  box-shadow: inset 0 0.0625em 0 0 rgba(88, 209, 159, 0.75), 0 0 0 0 /* 1px */ rgba(0,149,255,0);
  border: none;
  margin-left: 2.35em; /* 30px */
  color: white;
  cursor: pointer;


}

.header-link{
  position: absolute;
}
.blue-signup-or-login-text{
  text-align: center;
  text-transform: capitalize;

  
}

.blue-promo-text {
  padding-top: 3em;
}

.left-side-question-show {
  width: 120%;
}

.right-sidebar-links {
  text-decoration: none;
}

.blue-errors {
  margin-left: 10.313em;
}

.question-form-page-outer-page{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 15%;
  
}

.question-form-page-outer-page > 
.question-form-container-div >
.question-form-all >
.question-form-body{
  width: 28.75em;
}

.login-signup-header-links {
  text-align: right;
  text-decoration: none;
  padding-top: 14px;
  padding-right: 10px;
}

.signup-link-top{
  color: #FFF;
  background-color: #0095ff;
  border: 1px solid #07c;
  box-shadow: inset 0 1px 0 #66bfff;
  padding-bottom: 8px; 
  padding-left: 10.4px; 
  padding-right: 10.4px; 
  padding-top: 8px; 
  text-decoration: none;

}

.login-link-top{
  text-decoration: none;

}

.question-username {
  font-size: 12px;
}

.header-show-name {
  position: absolute;
  top: .3em;
  right: .1em;
  font-size: 16px;
}


.header-logout{
  position: absolute;
  top: .5em;
  right: 1em;
  background-color: #0095ff;
  padding-bottom: 8px;
  padding-left: 10.4px;
  padding-right: 10.4px;
  padding-top: 8px;
  border-color: #07c;
  border: 0.0625em solid transparent;
  border-radius: 0.1875em;
  color: white;
  box-shadow: inset 0 0.0625em 0 0 rgba(102,191,255,0.75), 0 0 0 0 /* 1px */ rgba(0,149,255,0);

}

.header-logout:hover{
  background-color: #007ed9;
  cursor: pointer;
}

.add-a-comment-link{
  text-decoration: none;
  color: #07C;
  margin-left: 1.2625em;
  line-height: 2.4em;
  font-size: 13px;
  
}

.add-a-comment-link:hover{
  color: rgb(4, 47, 121);
}

.question-body > a:hover {
  color: #3af;
  opacity: 1; 
}

.right-sidebar-links:hover {
  color: #3af;
}

.emoji-placeholder-personal {
  margin-left: 0.3em;
}

.header {
  z-index: 1;
}

.like-button {
  border: none;
  outline: none;
}

